/* media query 360px */

@media (max-width: 360px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: auto;
        font-size: 20px;
        position: sticky;
    }

    .con1 > a {
        margin: 0px 0px 0px 25px;
    }

    nav{
        margin: -130px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

    }
    
    nav .listmanu i {
        color: #ffffff;
        display: block;
        margin-left: -160px;
    }

    nav .listmanu i svg{
        width: 40px;
        height: 40px;
        margin: 85px 0px 0px 0px;
    }

    .list1 {
        width: 360px;
        margin-left: 30px;
        padding-bottom: 0px;
        list-style: none;
        font-size: 18px;
        display: none;
        
    }

    nav .menulist .listmanu:hover .list1{
        display: block;

    }

    body > header > div > nav > div.menulist > ul > li:nth-child(7) > a > svg > path{
        height: 100px;
        width: 100px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 0px 0px 0px 75px;
    }

    body > header > div > nav > div.menulist > ul > li:nth-child(7) > ul > li:nth-child(2) > a > svg{
        width: 16px;
        height: 16px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
        margin: -24px 0px 0px 144px;
    }
    
    body > header > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        width: 360px;
        height: auto;
        flex-direction: column;
    
    }

    section.maiin > .maiinbg {     
        width: 360px;
        height: 850px;
        display: flex;
        flex-direction: column;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 340px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 340px;
        margin: 75px 0px 0px 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 350px;
        width: 300px;
        margin: 20px 35px 0px 25px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -50px 0px 0px 30px;
        font-size: 18px;
        z-index: 2;

    }

    /* About Us */

    section.s2 {
        flex-direction: column;
        row-gap: 50px;
        width: 360px;
        justify-content: center;
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 300px;
    }

    /* Side Boxs */

    .boxs {
        grid-template-columns: repeat(1, 340px);
        grid-gap: 30px;
        margin: 0px 0px 0px 50px;
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

    .fcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        margin-top: 50px;
    }

    /* Chack our Work */

    section.s4 {
        display: flex;
        width: 360px;
        height: auto;
        justify-content: center;
    }

    .s4 .stats {
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        width: 360px;
        margin: 50px 0px 0px 0px;
    }

    /* check our details */

    section.details {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        margin: 0px 0px 0px 0px;
        width: 360px;
    }

    section.details > div.con2 > div.item {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        width: 310px;
        align-items: center;
        column-gap: 50px;
        margin: 50px 0px 0px 25px;
    }

    section.details > div.con2 > div.item > img {
        width: 320px;
    }

    section.details > div.con2 > div.item > div {
        width: 310px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 315px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px 0px 25px;
        width: 310px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 0px 25px;
        width: 310px;
    }

    /* Check Our Gallery Section */

    section.gallery {
        display: flex;
        flex-direction: column;
        width: 360px;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 0px 0px;
    }

    section.gallery > .gcon2 {
        display: flex;
        justify-content: center;
        row-gap: 15px;
        width: 340px;
        column-gap: 15px;
        
    }

    /* comment Section */

    section.ourteam {
        width: 360px;
    }

    section.ourteam > .otdetailes {
        width: 360px;
        overflow-x:scroll;
    }

    section.ourteam > div::before{
        width: 360px;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 20px 0px 30px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 310px;
    }

    /* check our Team */

    section.mainteam{
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 0px 0px;
    }

    /* 1 Team Member */

    section.mainteam > .mtmamberd {
        width: 360px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 125px 0px 0px 0px;

    }

    section.pricing > .products {
        align-items: center;
        column-gap: 20px;
        width: 330px;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.pricing > .products > .product1 > a {
        padding: 10px 90px 10px 90px;
    }

    section.pricing > .products > .product1 > p.note {
        margin: 20px 0px 0px 0px;
        text-align: center;
    }

    /* Questions Section */

    section.questionss {
        width: 360px;

    }

    section.questionss > .mainqs {
        flex-direction: column;
        column-gap: 20px;
        row-gap: 30px;
        margin: 0px;
        align-items: center;
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 330px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 300px;
    }

    section.questionss > div > .qimages > img {
        display: none;
    }

    /* Contact us */

    section.contactus {
        width: 360px;
        margin: 100px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    /* Add. No. Email Section */

    section.contactus > .cmaincon {
        flex-direction: column;
        row-gap: 30px;
        width: 360px;
    }

    section.contactus > .cmaincon > .contactfrom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 360px;
        column-gap: 50px;
        row-gap: 30px;
    }

    /* Address */

    section.contactus > .cmaincon > .contactfrom > .lonoem {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        width: 270px;
        margin-bottom: 0px;
    }

    /* contact from */

    .contactus .cmaincon .contactf{
        width: 360px;

    }

    .contactus .cmaincon .contactf form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.contactus > .cmaincon > .contactf > form > .name {
        width: 300px;
    }

    section.contactus > .cmaincon > .contactf > form > .subject {
        width: 300px;
    }

    section.contactus > .cmaincon > .contactf > form > .message {
        width: 300px;
        height: 245px;
 
    }

    section.contactus > .cmaincon > .contactf > form > .sendb {
        margin: 0px;
    }

    /* Footer Section */

    footer {
        width: 360px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{
        margin: 0px;
        width: 360px;
        display: flex;
        flex-direction: column;
    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 360px;
    }

    footer > .maincontener > .subcon1 > .contactd {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        column-gap: 25px;
        row-gap: 30px;
    }

    body > footer > div > div.subcon1 > div > div.cdetails {
        padding: 0px 30px 0px 0px;
        width: 200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 20px 0px 0px;
        width: 200px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 255px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 360px;
    }

}


/* media query 640px */


@media (min-width: 640px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        display: flex;
        flex-direction: column;
        width: 606px;
        height: auto;
        font-size: 20px;
        position: sticky;
    }

    .con1 > a {
        margin: 5px 0px 0px 0px;
    }

     nav{
        display: flex;
        margin: 0px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        width: 606px;
        height: auto;

    }

    /*  */

    nav .listmanu {
        width: 606px;
        display: flex;
        margin-top: -45px;
    }



    nav .listmanu i {
        color: #ffffff;
        display: block;
        margin-left: 0px;
    }

    nav .listmanu i svg{
        width: 40px;
        height: 40px;
        margin: 0px 0px 0px 5px;
    }

    .list1 {
        align-items: center;
        width: 600px;
        margin: 50px 0px 0px 0px;
        padding-bottom: 0px;
        list-style: none;
        column-gap: 15px;
        font-size: 18px;
        display: none;
        
    }

    nav .menulist .listmanu:hover .list1{
        display: block;
        display: flex;

    }

    /*  */

    .list1 > li > a {
        color: rgb(255, 255, 255);
        padding-bottom: 11px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 11px 0px 0px 0px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
    }
    
    body > header > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        width: 606px;
        height: 470px;
        flex-direction: column;
    
    }

    section.maiin > .maiinbg {     
        width: 606px;
        height: 470px;
        display: flex;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 20px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 300px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 300px;
        margin: 30px 0px 0px 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 300px;
        width: 260px;
        margin: 0px 0px 0px 10px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -50px 0px 0px 40px;
        font-size: 18px;
        z-index: 2;

    }

    /* About Us */

    section.s2 {
        flex-direction: column;
        row-gap: 50px;
        width: 606px;
        justify-content: center;
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 550px;
    }

    /* Side Boxs */

    .boxs {
        grid-template-columns: repeat(2, 260px);
        grid-gap: 20px;
        width: 600px;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 200px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        display: flex;
        flex-wrap: wrap;
        width: 606px;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

    .fcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 606px;
        margin-top: 50px;
    }

    /* Chack our Work */

    section.s4 {
        display: flex;
        width: 606px;
        height: auto;
        justify-content: center;
    }

    .s4 .stats {
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        width: 606px;
        margin: 50px 0px 0px 0px;
    }

    /* check our details */

    section.details {
        width: 606px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        margin: 0px 0px 0px 0px;
        width: 600px;
    }

    section.details > div.con2 > div.item {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
        width: 300px;
        align-items: center;
        column-gap: 0px;
        margin: 50px 0px 0px 0px;
    }

    section.details > div.con2 > div.item > img {
        width: 290px;
    }

    section.details > div.con2 > div.item > div {
        width: 300px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 300px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        justify-content: flex-end;
        margin: 50px 0px 0px 10px;
        width: 290px;
        column-gap: 0px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        width: 290px;
        column-gap: 0px;
        margin-left: 10px;
    }

    /* Check Our Gallery Section */

    section.gallery {
        display: flex;
        flex-direction: column;
        width: 606px;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 0px 0px;
    }

    section.gallery > .gcon2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        width: 606px;
        column-gap: 5px;
        
    }

    /* comment Section */

    section.ourteam {
        width: 606px;
    }

    section.ourteam > .otdetailes {
        width: 606px;
        overflow-x:scroll;
    
    }

    section.ourteam > div::before{
        width: 606px;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 20px 0px 20px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 575px;
    }

    /* check our Team */

    section.mainteam{
        width: 606px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 0px 0px;
    }

    /* 1 Team Member */

    section.mainteam > .mtmamberd {
        width: 600px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 606px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 125px 0px 0px 0px;

    }

    section.pricing > .products {
        align-items: center;
        column-gap: 20px;
        width: 360px;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.pricing > .products > .product1 {
        width: 320px;

    }

    section.pricing > .products > .product1 > a {
        padding: 10px 105px 10px 105px;
    }

    section.pricing > .products > .product1 > p.note {
        margin: 20px 0px 0px 0px;
        text-align: center;
    }

    /* Questions Section */

    section.questionss {
        width: 606px;

    }

    section.questionss > .mainqs {
        flex-direction: column;
        column-gap: 20px;
        row-gap: 30px;
        width: 570px;
        align-items: flex-start;
        margin-left: 30px;
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 570px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 520px;
    }

    section.questionss > div > .qimages > img {
        display: none;
    }

    /* Contact us */

    section.contactus {
        width: 606px;
        margin: 100px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    /* Add. No. Email Section */

    section.contactus > .cmaincon {
        flex-direction: column;
        row-gap: 30px;
        width: 606px;
    }

    section.contactus > .cmaincon > .contactfrom{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 600px;
        column-gap: 20px;
        row-gap: 30px;
    }

    /* Address */

    section.contactus > .cmaincon > .contactfrom > .lonoem {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        width: 260px;
        margin-bottom: 0px;
    }

    /* contact from */

    .contactus .cmaincon .contactf{
        width: 600px;

    }

    .contactus .cmaincon .contactf form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 15px;
    }

    section.contactus > .cmaincon > .contactf > form > .name {
        width: 248px;
        height: 20px;
    }

    section.contactus > .cmaincon > .contactf > form > .subject {
        width: 575px;
    }

    section.contactus > .cmaincon > .contactf > form > .message {
        width: 575px;
 
    }

    section.contactus > .cmaincon > .contactf > form > .sendb {
        margin: 0px 0px 0px 225px;
        
    }

    /* Footer Section */

    footer {
        width: 606px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{
        margin: 0px;
        width: 606px;
        display: flex;
        flex-direction: column;
    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 606px;
    }

    footer > .maincontener > .subcon1 > .contactd {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        column-gap: 0px;
        row-gap: 50px;
    }

    body > footer > div > div.subcon1 > div > div.cdetails {
        padding: 0px 30px 0px 0px;
        width: 200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 150px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 350px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 606px;
    }

}



/* media query 768px */


@media (min-width: 768px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        display: flex;
        flex-direction: column;
        width: 768px;
        height: auto;
        font-size: 25px;
        position: sticky;
    }

    .con1 > a {
        margin: 10px 0px 10px 0px;
    }

     nav{
        display: flex;
        margin: 0px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        width: 750px;

    }

    nav .listmanu{
        width: 750px;
    }

    nav .listmanu i svg {
        margin: -13px 0px 0px 5px;
    }

    .list1 {
        margin: 50px 0px 0px 20px;
        padding-bottom: 0px;
        list-style: none;
        font-size: 18px;
        column-gap: 20px;

    }

    .list1 > li {
        padding-bottom: 10px;
    
    }

    .list1 > li > a {
        color: rgb(255, 255, 255);
        padding-bottom: 11px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 11px 0px 0px 0px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
    }
    
    body > header > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        width: 768px;
        height: 370px;
        flex-direction: column;
    
    }

    section.maiin > .maiinbg {     
        width: 768px;
        height: 370px;
        display: flex;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 20px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 450px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 400px;
        margin: 30px 0px 0px 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 300px;
        width: 260px;
        margin: 0px 0px 0px 5px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -50px 0px 0px 50px;
        font-size: 18px;
        z-index: 2;

    }

    /* About Us */

    section.s2 {
        flex-direction: column;
        row-gap: 50px;
        width: 768px;
        justify-content: center;
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 600px;
    }

    /* Side Boxs */

    .boxs {
        grid-template-columns: repeat(2, 290px);
        grid-gap: 20px;
        width: 600px;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        display: flex;
        flex-wrap: wrap;
        width: 768px;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

    .fcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 610px;
        margin-top: 50px;
        column-gap: 40px;
    }

    /* Chack our Work */

    section.s4 {
        display: flex;
        width: 768px;
        height: auto;
        justify-content: center;
    }

    .s4 .stats {
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        width: 768px;
        margin: 50px 0px 0px 0px;
    }

    /* check our details */

    section.details {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        margin: 0px 0px 0px 0px;
        width: 768px;
    }

    section.details > div.con2 > div.item {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
        width: 768px;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin: 50px 0px 0px 0px;
    }

    section.details > div.con2 > div.item > img {
        width: 310px;
    }

    section.details > div.con2 > div.item > div {
        width: 405px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 395px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
        width: 768px;
        column-gap: 10px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        width: 768px;
        column-gap: 10px;
    }

    /* Check Our Gallery Section */

    section.gallery {
        display: flex;
        flex-direction: column;
        width: 768px;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 0px 0px;
    }

    section.gallery > .gcon2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        width: 768px;
        column-gap: 20px;
        
    }

    /* comment Section */

    section.ourteam {
        width: 768px;
    }

    section.ourteam > .otdetailes {
        width: 768px;
        overflow-x:scroll;
    }

    section.ourteam > div::before{
        width: 768px;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 20px 0px 20px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 730px;
    }

    /* check our Team */

    section.mainteam{
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 0px 0px;
    }

    /* 1 Team Member */

    section.mainteam > .mtmamberd {
        width: 768px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 125px 0px 0px 0px;

    }

    section.pricing > .products {
        align-items: center;
        column-gap: 15px;
        width: 768px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Questions Section */

    section.questionss {
        width: 768px;

    }

    section.questionss > .mainqs {
        flex-direction: row;
        column-gap: 10px;
        row-gap: 30px;
        width: 720px;
        margin-left: 20px;
        align-content: center;
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 400px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 360px;
    }

    section.questionss > div > .qimages > img {
        height: 300px;
        display: block;
        width: 310px;
    }

    /* Contact us */

    section.contactus {
        width: 768px;

    }   

    /* Footer Section */

    footer {
        width: 768px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{        
        width: 768px;

    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 750px;
    }

    footer > .maincontener > .subcon1 > .contactd {
        column-gap: 5px;
        row-gap: 50px;
    }

    body > footer > div > div.subcon1 > div > div.cdetails {
        padding: 0px 0px 0px 0px;
        width: 200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 140px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 350px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 768px;
    }

}




/* media query 1024px */


@media (min-width: 1024px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1024px;
        height: auto;
        font-size: 25px;
        position: sticky;
    }

    .con1 > a {
        margin: 10px 0px 10px 30px;
    }

     nav{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        width: 1000px;
        height: auto;

    }

    nav .listmanu {
        width: 1000px;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        justify-content: center;
    }

    nav .listmanu i {
        display: none;
    }

    .list1 {
        flex-direction: row;
        margin: 0px;
        width: 800px;
        padding-bottom: 0px;
        font-size: 18px;
        column-gap: 50px;
        display: flex;

    }

    nav .menulist .listmanu:hover .list1{
        display: flex;

    }

    .list1 > li {
        padding: 10px 0px 11px 0px;
    
    }

    body > header > div > nav > div > div > ul > li:nth-child(7){
        width: 98px;
    }

    .list1 > li > a {
        color: rgb(255, 255, 255);
        padding-bottom: 11px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 11px 0px 0px 0px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
    }
    
    body > header > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        width: 1024px;
        height: 370px;
        flex-direction: column;
    
    }

    section.maiin > .maiinbg {     
        width: 1024px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 50px;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 20px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 480px;
        margin-left: 15px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 480px;
        margin: 30px 0px 0px 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 340px;
        width: 300px;
        margin: 0px 0px 0px 5px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -65px 0px 0px 100px;
      
    }

    /* About Us */

    section.s2 {
        width: 1024px;
    
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 800px;
    }

    /* Side Boxs */

    .boxs {
        grid-gap: 20px;
        width: 1024px;
     
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        width: 1024px;
        margin: 0px;

    }

    .fcon {
        width: 1024px;
    }

    /* Chack our Work */

    section.s4 {
        width: 1024px;
       
    }

    .s4 .stats {
        width: 1024px;

    }

    /* check our details */

    section.details {
        width: 1024px;

    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        width: 1024px;
    }

    section.details > div.con2 > div.item {
        width: 1024px;

    }

    section.details > div.con2 > div.item > img {
        width: 400px;
    }

    section.details > div.con2 > div.item > div {
        width: 405px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 395px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        margin: 50px 0px 0px 0px;
        width: 1024px;
        column-gap: 30px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        width: 1024px;
    }

    section.gallery {
        width: 1024px;
    }

    section.gallery > .gcon2 {
        row-gap: 20px;
        width: 1024px;
        column-gap: 20px;
        
    }

    /* comment Section */

    section.ourteam {
        width: 1024px;
    }

    section.ourteam > .otdetailes {
        width: 1024px;
        overflow-x:scroll;
    }

    section.ourteam > div::before{
        width: 1024px;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 30px 0px 20px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 950px;
    }

    /* check our Team */

    section.mainteam{
        width: 1024px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 1024px;

    }

    section.pricing > .products {
        column-gap: 50px;
        width: 1024px;

    }

    /* Questions Section */

    section.questionss {
        width: 1024px;

    }

    section.questionss > .mainqs {
        width: 1024px;
        
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 650px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 600px;
    }

    /* Contact us */

    section.contactus {
        width: 1024px;

    }   

    section.contactus > .cmaincon {
        width: 925px;
        flex-direction: row;
    }

    .contactus .cmaincon .contactf {
        width: 1024px;
    }

    section.contactus > .cmaincon > .contactfrom {
        flex-direction: column;
        width: 400px;
    }

    section.contactus > .cmaincon > .contactf > form > .name {
        width: 266px;
        height: 20px;
    }

    /* Footer Section */

    footer {
        width: 1024px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{        
        width: 1024px;

    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 1024px;
    }

    footer > .maincontener > .subcon1 > .contactd {
        column-gap: 50px;
        width: 1024px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 140px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 260px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 1024px;
    }

}

/* media query 1200px */


@media (min-width: 1200px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        width: 1200px;
        position:fixed;
        display: flex;
        flex-direction: row;
    }

    .con1 > a {
        margin: 10px 0px 10px 50px;
    }

    nav{
        width: 530px;
        height: auto;

    }

    nav .listmanu {
        width: 795px;

    }

    body > header > div > nav > div{
        width: 950px;
    }

    .list1{
        column-gap: 30px;
    }

    /* First Page */

    section.maiin {
        width: 1200px;
        height: 575px;
    
    }

    section.maiin > .maiinbg {     
        width: 1200px;
        height: 575px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 100px;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        margin-left: 0px;
    }
    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 375px;
        width: 375px;
        margin: 0px 0px 0px 5px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -65px 0px 0px 120px;
      
    }

    /* About Us */

    section.s2 {
        width: 1200px;
        flex-direction: row;
        column-gap: 30px;
    
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 500px;
    }

    /* Side Boxs */

    .boxs {
        grid-gap: 20px;
        width: 600px;
     
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        width: 1200px;
        margin: 0px;

    }

    .fcon {
        width: 1100px;
    }

    /* Chack our Work */

    section.s4 {
        width: 1200px;
       
    }

    .s4 .stats {
        width: 1200px;

    }

    /* check our details */

    section.details {
        width: 1200px;

    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        width: 1200px;

    }

    section.details > div.con2 > div.item {
        width: 1200px;
        column-gap: 50px;

    }

    section.details > div.con2 > div.item > img {
        width: 500px;
    }

    section.details > div.con2 > div.item > div {
        width: 405px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 395px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        margin: 50px 0px 0px 0px;
        width: 1200px;
        column-gap: 30px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        width: 1200px;
    }

    section.gallery {
        width: 1200px;
    }

    section.gallery > .gcon2 {
        row-gap: 20px;
        width: 1200px;
        column-gap: 20px;
        
    }

    /* comment Section */

    section.ourteam {
        width: 1200px;
    }

    section.ourteam > .otdetailes {
        width: 1200px;
        overflow-x:scroll;
    }

    section.ourteam > div::before{
        width: 1200px;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 30px 0px 50px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 1100px;
    }

    /* check our Team */

    section.mainteam{
        width: 1200px;
    }


    section.mainteam > .mtmamberd {
        width: 1100px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 1200px;

    }

    section.pricing > .products {
        column-gap: 30px;
        width: 1200px;

    }

    /* Questions Section */

    section.questionss {
        width: 1200px;

    }

    section.questionss > .mainqs {
        width: 1150px;
        
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 650px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 600px;
    }
    
    body > section.questionss > div > div.qimages{
    width: 500px;
    display: flex;
    justify-content: center;
    }


    /* Contact us */

    section.contactus {
        width: 1200px;

    }   

    section.contactus > .cmaincon {
        width: 1100px;
        flex-direction: row;
    }

    section.contactus > .cmaincon > .contactfrom {
        flex-direction: column;
        width: 400px;
    }

    .contactus .cmaincon .contactf {
        width: 680px;
    }

    .contactus .cmaincon .contactf form{
        justify-content: center;
    }

    section.contactus > .cmaincon > .contactf > form > .sendb {
        margin: 0px 0px 0px 0;
    }

    /* Footer Section */

    footer {
        width: 1200px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{        
        width: 1200px;

    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 1200px;
    }

    footer > .maincontener > .subcon1 > .contactd {
        column-gap: 50px;
        width: 1200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 140px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 260px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 1200px;
    }

}