/* media query 360px */

@media (min-width: 400px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        font-size: 20px;
        position: sticky;
    }

    .con1 > a {
        margin: 0px 0px 0px 25px;
    }

    nav{
        margin: -130px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

    }
    
    nav .listmanu i {
        color: #ffffff;
        display: block;
        margin-left: -160px;
    
    }

    nav .listmanu i svg{
        width: 40px;
        height: 40px;
        margin: 85px 0px 0px 0px;
    }

    .list1 {
        /* flex-wrap: wrap;
        padding: 0px 30px;
        margin-top: 10px;
        list-style: none;
        font-size: 18px; */
        display: none;
    }

    nav .menulist .listmanu:hover .list1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 20px;
        margin-top: 10px;
        list-style: none;
        font-size: 18px;
        margin-left: 0px;

    }

    body > header > div > nav > div.menulist > ul > li:nth-child(7) > a > svg > path{
        height: 100px;
        width: 100px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 10px 0px 0px 0px;
    }

    body > header > div > nav > div.menulist > ul > li:nth-child(7) > ul > li:nth-child(2) > a > svg{
        width: 16px;
        height: 16px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
        margin: -24px 0px 0px -115px;
    }
    
    body > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        width: 100%;
        height: auto;
        flex-direction: column;
    
    }

    section.maiin > .maiinbg {     
        width: 100%;
        height: 880px;
        display: flex;
        flex-direction: column;
        margin-top: -110px;
        padding-top: 0px;
    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 350px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 355px;
        margin: 0px 0px 0px 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 350px;
        width: 300px;
        margin: 20px 35px 0px 25px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -50px 0px 0px 50px;
        font-size: 18px;
        z-index: 2;

    }

    /* About Us */

    section.s2 {
        flex-direction: column;
        row-gap: 50px;
        width: 100%;
        justify-content: center;
        margin-top: 100px;
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 300px;
    }

    /* Side Boxs */

    .boxs {
        grid-template-columns: repeat(1, 295px);
        grid-gap: 30px;
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .fcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
    }

    /* Chack our Work */

    section.s4 {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        margin-top: 50px;

    }

    .s4 .stats {
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 50px 0px 0px 0px;
    }

    /* check our details */

    section.details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        margin: 30px 0px 0px 0px;
        width: 360px;
    }

    section.details > div.con2 > div.item {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        width: 310px;
        align-items: center;
        column-gap: 50px;
        /* margin: 50px 0px 0px 25px; */
    }

    section.details > div.con2 > div.item > img {
        width: 75vw;
    }

    section.details > div.con2 > div.item > div {
        width: 310px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 75vw;

    }

    section.details > div.con2 > div.item > div > p{
        width: 75vw;
    }

    section.details > div.con2 > div.item > div > ul > li{
        width: 75vw;
    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        width: 310px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        width: 310px;
    }

    /* Check Our Gallery Section */

    section.gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    section.gallery .gcon1{
        margin-left: 0px;
    }

    section.gallery > .gcon2 {
        display: flex;
        justify-content: center;
        row-gap: 20px;
        width: 340px;
        column-gap: 15px;
        
    }

    /* comment Section */

    section.ourteam {
        width: 100%;
        margin-top: 50px;
    }

    section.ourteam > .otdetailes {
        width: 100%;
        height: 560px;

        
    }

    section.ourteam > div::before{
        width: 100%;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 20px 0px 30px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 340px;
    }

    /* check our Team */

    section.mainteam{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    section.mainteam > .mtmamber{
        margin-left: 0px;
    }

    /* 1 Team Member */

    section.mainteam > .mtmamberd {
        width: 360px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px 0px 0px;

    }

    .pricingtitle{
        margin-left: 0px;
    }

    section.pricing > .products {
        align-items: center;
        column-gap: 20px;
        width: 330px;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.pricing > .products > .product1 > a {
        padding: 5px auto;
    }

    section.pricing > .products > .product1 > p.note {
        margin: 20px 0px 0px 0px;
        text-align: center;
    }

    /* Questions Section */

    section.questionss {
        width: 100%;
        margin-top: 50px;
        padding-bottom: 0px;

    }

    section.questionss > .mainqs {
        flex-direction: column;
        width: 100%;
        column-gap: 20px;
        row-gap: 30px;
        margin: 0px;
        align-items: center;
    }

    section.questionss > .mainqs > .qs{
        width: 100%;

    }

    section.questionss > .mainqs > .qs > .qstitle {
        padding: 0px 30px;
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 330px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 300px;
        margin: 15px 30px;
    }

    section.questionss > div > .qimages > img {
        display: none;
    }

    /* Contact us */

    section.contactus {
        width: 100%;
        margin: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    section.contactus > .ctitle{
        margin-left: 0px;
    }

    /* Add. No. Email Section */

    section.contactus > .cmaincon {
        flex-direction: column;
        row-gap: 30px;
        width: 360px;
        margin: 0px;
    }

    section.contactus > .cmaincon > .contactfrom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 360px;
        column-gap: 50px;
        row-gap: 30px;
    }

    /* Address */

    section.contactus > .cmaincon > .contactfrom > .lonoem {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        width: 270px;
        margin-bottom: 0px;
    }

    /* contact from */

    .contactus .cmaincon .contactf{
        width: 360px;

    }

    .contactus .cmaincon .contactf form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.contactus > .cmaincon > .contactf > form > .name {
        width: 300px;
    }

    section.contactus > .cmaincon > .contactf > form > .subject {
        width: 300px;
    }

    section.contactus > .cmaincon > .contactf > form > .message {
        width: 300px;
        height: 245px;
 
    }

    section.contactus > .cmaincon > .contactf > form > .sendb {
        margin: 0px;
    }

    /* Footer Section */

    footer {
        width: 100%;
        margin-top: 50px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 100%;
    }

    footer > .maincontener > .subcon1 > .contactd {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        column-gap: 25px;
        row-gap: 30px;
    }

    body > footer > div > div.subcon1 > div > div.cdetails {
        padding: 0px 30px 0px 0px;
        width: 200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 20px 0px 0px;
        width: 200px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 255px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 100%;
    }

}


/* media query 640px */


@media (min-width: 640px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        flex-direction: column;
        font-size: 20px;
        position: sticky;
    }

    .con1 > a {
        margin: 0px 0px 0px 25px;
    }

    nav{
        margin: 10px 0px 0px 0px;
        display: block;
        flex-direction: column;
        row-gap: 20px;

    }
    
    nav .listmanu i {
        color: #ffffff;
        display: none;
        margin-left: -160px;
    
    }

    nav .listmanu i svg{
        width: 40px;
        height: 40px;
        margin: 85px 0px 0px 0px;
    }

    .list1 {
        /* flex-wrap: wrap;
        padding: 0px 30px;
        margin-top: 10px;
        list-style: none;
        font-size: 18px; */
        display: flex;
        padding: 0px 20px;
        margin-top: 10px;
        list-style: none;
        margin-left: 0px;
        column-gap: 20px;
    }

    nav .menulist .listmanu:hover .list1{
        display: flex;

    }

    body > header > div > nav > div.menulist > ul > li:nth-child(7) > a > svg > path{
        height: 100px;
        width: 100px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 10px 0px 0px 0px;
    }

    body > header > div > nav > div.menulist > ul > li:nth-child(7) > ul > li:nth-child(2) > a > svg{
        width: 16px;
        height: 16px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
        margin: -24px 0px 0px -115px;
    }
    
    body > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        width: 100%;
        height: 443px;
        padding: 0px;
        flex-direction: column;
    
    }

    section.maiin > .maiinbg {     
        width: 100%;
        height: 520px;
        display: flex;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 20px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 300px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 300px;
        margin: 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 300px;
        width: 260px;
        margin: 0px 0px 0px 10px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -50px 0px 0px 40px;
        font-size: 18px;
        z-index: 2;

    }

    /* About Us */

    section.s2 {
        flex-direction: column;
        row-gap: 60px;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 550px;
    }

    /* Side Boxs */

    .boxs {
        grid-template-columns: repeat(2, 260px);
        grid-gap: 30px;
        width: 600px;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 200px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        flex-wrap: wrap;
        margin-top: 50px;
        align-items: center;
    }

    .fcon {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0px;
    }

    /* Chack our Work */

    section.s4 {
        height: auto;
    }

    .s4 .stats {
        gap: 35px;
        align-items: center;
        justify-content: center;
        width: 100%px;
        margin: 50px 0px 0px 0px;
    }

    /* check our details */

    section.details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        margin: 0px 0px 0px 0px;
        padding-top: 30px;
        flex-direction: column;
        width: 100%;
    }

    section.details > div.con2 > div.item {
        flex-direction: row;
        flex-wrap: none;
        width: 100%;
        column-gap: 20px;
        row-gap: 0px;
        margin: 0px 0px 0px 0px;
        justify-content: center;
    }

    section.details > div.con2 > div.item > img {
        width: 250px;
    }

    section.details > div.con2 > div.item > div {
        width: 280px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 280px;

    }
    
    section.details > div.con2 > div.item > div > p {     
        width: 280px;

    }

    section.details > div.con2 > div.item > div > ul > li{
        width: 280px;
    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        flex-direction: row;
        flex-wrap: none;
        width: 100%;
        column-gap: 20px;
        row-gap: 0px;
        margin: 20px 0px 0px 0px;
        justify-content: center;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        flex-direction: row;
        flex-wrap: none;
        width: 100%;
        column-gap: 20px;
        row-gap: 0px;
        margin: 20px 0px 0px 0px;
        justify-content: center;
    }

    /* Check Our Gallery Section */

    section.gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 50px 0px 0px 0px;
    }

    section.gallery > .gcon2 {
        margin-top: 30px;
        gap: 20px;
        width: 100%;   
    }

    section.gallery > .gcon2 > div{
        width: 280px;
        height: 190px;
        overflow: hidden;
    }

    section.gallery > .gcon2 > div > a > img{
        width: 280px;
        height: 190px;
    }

    /* comment Section */

    section.ourteam > div::before{
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 20px 0px 20px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 585px;
    }

    /* check our Team */

    section.mainteam{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    /* 1 Team Member */

    section.mainteam > .mtmamberd {
        align-items: center;
        justify-content: space-evenly;
        row-gap: 30px;
        margin-top: 30px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px 0px 0px;

    }

    section.pricing > .products {
        align-items: center;
        column-gap: 20px;
        width: 360px;
    }

    section.pricing > .products > .product1 {
        margin-top: 30px;

    }

    /* Questions Section */
    section.questionss > .mainqs {
        flex-direction: column;
        column-gap: 20px;
        row-gap: 30px;
        width: 100%;
    }

    section.questionss > .mainqs > .qs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 570px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 535px;
    }

    section.questionss > div > .qimages > img {
        display: none;
    }

    /* Contact us */

    section.contactus {
        margin: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    /* Add. No. Email Section */

    section.contactus > .cmaincon {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-top: 30px;
    }

    section.contactus > .cmaincon > .contactfrom{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 20px;
        row-gap: 30px;
    }

    /* Address */

    section.contactus > .cmaincon > .contactfrom > .lonoem {
        width: 260px;
        margin-bottom: 0px;
    }

    /* contact from */

    .contactus .cmaincon .contactf{
        width: 600px;

    }

    .contactus .cmaincon .contactf form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 15px;
    }

    section.contactus > .cmaincon > .contactf > form > .name {
        width: 248px;
        height: 20px;
    }

    section.contactus > .cmaincon > .contactf > form > .subject {
        width: 575px;
    }

    section.contactus > .cmaincon > .contactf > form > .message {
        width: 575px;
 
    }

    section.contactus > .cmaincon > .contactf > form > .sendb {
        margin: 0px 0px 0px 225px;
        
    }

    /* Footer Section */

    footer {
        width: 100%;
        margin-top: 50px;
    }

    /* Footer main Con 1 */

    footer > .maincontener{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Footer Sub Con 1 */
    footer > .maincontener > .subcon1 > .contactd {
        flex-direction: row;
        justify-content:space-evenly;
        column-gap: 0px;
        row-gap: 50px;
    }

    body > footer > div > div.subcon1 > div > div.cdetails {
        padding: 0px 30px 0px 0px;
        width: 200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 150px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 350px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 100%;
    }
}


/* media query 768px */
@media (min-width: 768px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        flex-direction: column;
        font-size: 25px;
        position: sticky;
    }

    .con1 > a {
        margin: 0px;
    }

     nav{
        display: flex;
        margin: 0px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        width: 100%;

    }

    nav .listmanu{
        width: 100%;
    }

    nav .listmanu i svg {
        margin: -13px 0px 0px 5px;
    }

    .list1 {
        margin: 10px 0px 0px 0px;
        padding-bottom: 0px;
        list-style: none;
        font-size: 18px;
        column-gap: 30px;
    }

    .list1 > li > a {
        padding-bottom: 11px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
        margin: 11px 0px 0px 0px;
    }

    .sub1 .sub2 {
        width: 105px;
        height: auto;
    }
    
    body > header > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        height: 417px;
    }

    section.maiin > .maiinbg {     
        height: 473px;
    }

    section.maiin > div.maiinbg > div.main {
        margin: 0px 0px 0px 20px;
        row-gap: 40px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 450px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 400px;
        margin: 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 300px;
        width: 260px;
        margin: 0px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -75px 0px 0px 25px;
    }

    /* About Us */

    section.s2 {
        flex-direction: column;
        row-gap: 60px;
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 600px;
    }

    /* Side Boxs */

    .boxs {
        grid-template-columns: repeat(2, 290px);
        grid-gap: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        flex-wrap: wrap;
        margin: 0px;
        align-items: center;
    }

    .fcon {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        column-gap: 40px;
    }

    /* Chack our Work */

    section.s4 {
        width: 100%;
        height: auto;
    }

    .s4 .stats {
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 50px 0px 0px 0px;
    }

    /* check our details */

    section.details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    section.details > div.con2 > div.item {
        flex-direction: row;
        row-gap: 50px;
        width: 100%;
        justify-content: center;
        column-gap: 20px;
        margin: 0px;
    }

    section.details > div.con2 > div.item > img {
        width: 310px;
    }

    section.details > div.con2 > div.item > div {
        width: 350px;
    }

    section.details > div.con2 > div.item > div > h3{     
        width: 340px;
    }
    
    section.details > div.con2 > div.item > div > p{     
        width: 340px;
    }

    section.details > div.con2 > div.item > div > ul li{     
        width: 340px;
    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        width: 100%;
        column-gap: 20px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        width: 100%;
        column-gap: 20px;
    }

    /* Check Our Gallery Section */

    section.gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    section.gallery > .gcon2 {
        row-gap: 20px;
    
    }

    /* comment Section */
    section.ourteam > div::before{
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 20px 0px 20px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 730px;
    }

    /* check our Team */

    section.mainteam{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }

    /* 1 Team Member */

    section.mainteam > .mtmamberd {
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 20px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px 0px 0px;

    }

    section.pricing > .products {
        align-items: center;
        column-gap: 15px;
        width: 100%;
    }

    /* Questions Section */

    section.questionss {
        width: 100%;

    }

    section.questionss > .mainqs {
        flex-direction: row;
        column-gap: 20px;
        row-gap: 30px;
        width: 100%;
        align-content: center;
    }

    section.questionss > .mainqs > .qs{
        width: 400px;
    }

    section.questionss > .mainqs > .qs > .qstitle{
        padding: 0px;
    
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 400px;
    
    }

    section.questionss > .mainqs > .qs > .qss {
        width: auto;
        margin: 15px 0px;
    }

    section.questionss > div > .qimages > img {
        height: 300px;
        display: block;
        width: 310px;
    }

    /* Contact us */
    section.contactus {
        width: 100%;

    }   

    /* Footer Section */

    footer {
        width: 100%;
    }

    /* Footer main Con 1 */

    footer > .maincontener{        
        width: 768px;

    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 100%;
    }

    footer > .maincontener > .subcon1 > .contactd {
        justify-content: space-evenly;
    }

    body > footer > div > div.subcon1 > div > div.cdetails {
        padding: 0px 0px 0px 0px;
        width: 200px;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 140px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 350px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 100%;
        margin-top: 8vh;
    }

}

/* media query 1080px */


@media (min-width: 1080px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        flex-direction: row;
        column-gap: 30px;
        padding: 0px;

    
    }

    .con1 > a {
        margin: 10px 0px 10px 0px;
    }

    .con1 > a h1{
        font-size: 40px;
    }

     nav{
        display: flex;
        flex-direction: column;
        margin:0px;
        align-items:flex-end;
        justify-content: center;
        row-gap: 10px;
        height: auto;
        width: 800px;

    }

    nav .listmanu {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        justify-content: center;
        width: auto;
    }

    nav .listmanu i {
        display: none;
    }

    .list1 {
        margin:0px !important;
        width: auto;

    }

    nav .menulist .listmanu:hover .list1{
        display: flex;

    }

    .list1 > li {
        padding: 0px 0px 11px 0px;
    
    }

    body > header > div > nav > div > div > ul > li:nth-child(7){
        width: 98px;
    }

    .list1 > li > a {
        color: rgb(255, 255, 255);
        padding-bottom: 11px;
    }

    .sub1 {
        width: 155px;
        height: auto;
        font-size: 18px;
    }

    .sub1 .sub2 {
        height: auto;
    }
    
    body > header > div > nav > div > div > ul > li:nth-child(7) > ul > li:nth-child(3){
        margin-top: -105px;
    }

    /* First Page */

    section.maiin {
        height: 490px;
    
    }

    section.maiin > .maiinbg {     
        height: 525px;
        flex-direction: row;
        column-gap: 80px;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        width: 480px;
        margin-left: 0px;
    }

    section.maiin > div.maiinbg > .main > p {
        width: 480px;
        margin: 0px 0px 0px 0px;
    }

    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 340px;
        width: 300px;
        margin: 0px 0px 0px 5px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -100px 0px 0px 100px;
      
    }

    /* About Us */

    section.s2 {
        flex-direction: row;
    
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 390px;
    }

    .aboutus h1{
        width: 380px;
    }
   
    .aboutus p{
        width: 380px;
    }

    /* Side Boxs */

    .boxs {
        grid-gap: 20px;
        width: 620px;
     
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        width: 100%;
        margin: 0px;

    }

    .fcon {
        width: 100%;
    }

    /* Chack our Work */
    .s4 .stats {
        width: 100%;

    }

    /* check our details */

    section.details {
        width: 100%;

    }

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        width: 100%;

    }

    section.details > div.con2 > div.item {
        width: 100%;
        column-gap: 70px;
    }

    section.details > div.con2 > div.item > img {
        width: 400px;
    }

    section.details > div.con2 > div.item > div {
        width: 405px;
        row-gap: 20px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 400px;

    }
    
    section.details > div.con2 > div.item > div > p {     
        width: 400px;

    }
    
    section.details > div.con2 > div.item > div > ul li {     
        width: 400px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        margin: 0px;
        width: 100%;
        column-gap: 70px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        width: 100%;
        column-gap: 70px;
    }

    section.gallery {
        width: 100%;
    }

    section.gallery > .gcon2 {
        gap: 30px;
        width: 100%;
        
    }

    /* comment Section */

    section.ourteam {
        margin-top: 50px;
    }

    section.ourteam > .otdetailes {
        width: 100%;
    }

    section.ourteam > div::before{
        width: 100%;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 50px 0px 40px;
        width: 100%;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 1000px;
    }

    /* check our Team */

    section.mainteam{
        width: 100%;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 100%;

    }

    section.pricing > .products {
        column-gap: 50px;
        width: 100%;

    }

    /* Questions Section */

    section.questionss {
        width: 100%;
    }

    section.questionss > .mainqs {
        width: 100%;
        column-gap: 4vw;  
    }

    section.questionss > .mainqs > .qs{
        width: 650px;
    }    

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 630px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 575px;
    }

    /* Contact us */

    section.contactus {
        width: 100%;

    }   

    section.contactus > .cmaincon {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .contactus .cmaincon .contactf {
        width: 650px;
    }

    section.contactus > .cmaincon > .contactfrom {
        flex-direction: column;
        width: 300px;
    }

    section.contactus > .cmaincon > .contactf > form > .name {
        width: 266px;
        height: 20px;
    }

    /* Footer Section */

    footer {
        width: 100%;
    }

    /* Footer main Con 1 */

    footer > .maincontener{        
        width: 100%;
        justify-content: center;

    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 100%;
    }

    footer > .maincontener > .subcon1 > .contactd {
        column-gap: 50px;
        width: 100%;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 140px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 260px;
    }

}


/* media query 1200px */


@media (min-width: 1200px){    
    *{
        scroll-behavior: smooth;
        user-select: none;
        padding: 0px;
        margin: 0px;
    }

    /* Header and nav */

    .con1{
        width: 100%;
    }

    .con1 > a {
        margin: 10px 0px 10px 0px;
    }

    nav{
        width: 900px;
        height: auto;

    }

    nav .listmanu {
        width: 795px;
        justify-content: flex-end;

    }

    body > header > div > nav > div{
        width: 800px;
    }

    .list1{
        column-gap: 30px;
    }

    /* First Page */

    section.maiin {
        height: 500px;
    
    }

    section.maiin > .maiinbg {     
        height: 540px;
        column-gap: 100px;

    }

    section.maiin > div.maiinbg > div.main {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    section.maiin > div.maiinbg > .main > h1 {
        margin-left: 0px;
    }
    /* Side Image */

    section.maiin > div.maiinbg > .image > img {
        height: 375px;
        width: 375px;
        margin: 0px 0px 0px 5px;
    }

    /* Get and Watch Buttons */

    .buttontwo {
        margin: -100px 0px 0px 120px;
      
    }

    /* About Us */

    section.s2 {
        width: 100%;
        flex-direction: row;
        column-gap: 40px;
    
    }

    .aboutus {
        margin: 0px 0px 0px 0px;
        width: 450px;
    }

    /* Side Boxs */

    .boxs {
        grid-gap: 20px;
        width: 600px;
     
    }

    .box {
        width: 230px;
        padding: 30px 30px;
    }

    /* Check our Feature */

    section.s3 {
        width: 100%;
        margin: 0px;

    }

    .fcon {
        width: 100%;
        column-gap: 15px;
    }

    /* Chack our Work */

    section.s4 {
        width: 100%;
       
    }

    .s4 .stats {
        width: 100%;
        column-gap: 15px;

    }

    /* check our details */

    section.details .dc {
        margin: 0px;
    }

    /* 1 Details */

    section.details > div.con2 {
        width: 100%;

    }

    section.details > div.con2 > div.item {
        width: 100%;
        column-gap: 50px;

    }

    section.details > div.con2 > div.item > img {
        width: 500px;
    }

    section.details > div.con2 > div.item > div {
        width: 405px;
    }

    section.details > div.con2 > div.item > div > h3 {     
        width: 395px;

    }

    /* 2 Details */

    body > section.details > div.con2 > div:nth-child(2){
        margin: 0px;
        width: 100%;
        column-gap: 50px;
    }

    /* 4 Details */

    body > section.details > div.con2 > div:nth-child(4){
        width: 100%;
        column-gap: 50px;

    }

    section.gallery {
        width: 100%;
    }

    section.gallery > .gcon2 {
        gap: 15px;
        width: 100%;
        
    }

    /* comment Section */

    section.ourteam {
        width: 100%;
    }

    section.ourteam > .otdetailes {
        width: 100%;
        overflow-x:scroll;
    }

    section.ourteam > div::before{
        width: 100%;
        height: 560px;
    }

    section.ourteam > .otdetailes > .member1{
        margin: 0px 30px 0px 50px;
    }

    section.ourteam > .otdetailes > .member1 > span{
        width: 1100px;
    }

    /* check our Product Pricing */

    section.pricing {
        width: 100%;

    }

    section.pricing > .products {
        column-gap: 30px;
        width: 100%;

    }

    /* Questions Section */

    section.questionss {
        width: 100%;

    }

    section.questionss > .mainqs {
        width: 100%;
        
    }

    section.questionss > .mainqs > .qs > .qstitle > p {
        width: 550px;
    }

    section.questionss > .mainqs > .qs > .qss {
        width: 550px;
    }
    
    body > section.questionss > div > div.qimages{
    width: 500px;
    display: flex;
    justify-content: center;
    }


    /* Contact us */

    section.contactus {
        width: 1200px;

    }   

    section.contactus > .cmaincon {
        width: 1100px;
        flex-direction: row;
    }

    section.contactus > .cmaincon > .contactfrom {
        flex-direction: column;
        width: 400px;
    }

    .contactus .cmaincon .contactf {
        width: 680px;
    }

    .contactus .cmaincon .contactf form{
        justify-content: center;
    }

    section.contactus > .cmaincon > .contactf > form > .sendb {
        margin: 0px 0px 0px 0;
    }

    /* Footer Section */

    footer {
        width: 100%;
    }

    /* Footer main Con 1 */

    footer > .maincontener{        
        width: 100%;

    }

    /* Footer Sub Con 1 */

    footer > .maincontener > .subcon1 {
        width: 100%;
    }

    footer > .maincontener > .subcon1 > .contactd {
        column-gap: 50px;
        width: 100%;
    }

    footer > div > div.subcon1 > div > div {
        padding: 0px 0px 0px 0px;
        width: 140px;
    }

    body > footer > div > div.subcon1 > div > div:nth-child(4) {
        width: 260px;
    }

    /* footer sub 2 main con section */

    body > footer > div > div.subcon2{
        width: 100%;
    }

}